@import "bootstrap";

body {
  background: image_url('bg.png') no-repeat center center fixed;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1 {

	color: red;
}

h2, h3 {
	color: #AF0825;
}

h4, h5 {
  color: #111E2A;
}